#Registr{
    height: 100vh;
    background-color: rgb(153, 185, 185);
}
#User{
    height: 100vh;
    background-color:pink;
}
#Change {
    height: 100vh;
    background-color: rgb(148, 20, 180);
}
.username{
    color: red;
}
.Lastname{
    color: green;
}
.Email{
    color: blueviolet;
}
.password{
    color: yellow;
}
#user:focus::placeholder{
    background-color: blueviolet;
    color:black;
}
#last:focus::placeholder{
    background-color:yellowgreen;
    color:red;
}
#email:focus::placeholder{
    background-color:green;
    color:aqua;
}
#password:focus::placeholder{
    background-color:teal;
    color:black;
}
#radio{
    accent-color: red;
}
#btn{
    background-color: rgb(80, 118, 6);
    color: bisque;
}
#btn:hover{
    background-color:red;
    color: bisque;
}
.choose{
    color: rgb(0, 200, 255);
}
.age{
    color: red;
}