footer{
    position: relative;
    z-index: -1;
    background-color: #072125;
    padding: 60px 0;
    .footer{ 
    @include flexBox();
    align-items: flex-start;
      .left-footer{
        position: relative;
       .checkbox{
        @include flexBox();
        .checkbox-1{
            margin-right: 24px;
        }
       }
    .footer-button{
        margin-top: 15px;
        .email-btn{
            @extend %primary-button;
            background-color: #FFFFFF

        }
        .footer-btn{
            @extend %primary-button;
        }
    }

      }
      .right-footer{
        @include flexBox();
        column-gap: 130px;
        h5{
            color: #FFFFFF !important;
        }
        a{
            line-height: 24px;
            color: #DCF2ED;
        }
      }
    }
    @media only screen and (max-width:767px){
        .footer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .right-footer{
                flex-direction: column;
                text-align: center;
            }
        }
    }


}