/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 40px;
  color: #072125;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 45px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #FFFFFF;
  padding: 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
}

h5 {
  color: #20484F;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
}

p.display {
  font-size: 64px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #072125;
  line-height: 65px;
  font-weight: 700;
}

p.hero-text {
  font-size: 24px;
  color: #072125;
  line-height: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

b {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

#hero-section .hero-section .left .btn .hero-btn-2, #hero-section .hero-section .left .btn .hero-btn, footer .footer .left-footer .footer-button .footer-btn, footer .footer .left-footer .footer-button .email-btn, header .navbar .navbar-btn-2, header .navbar .navbar-btn {
  padding: 10px 15px;
  border-radius: 8px;
  background: #B8E4DA;
  border: 1px solid #B8E4DA;
  color: #20484F;
}

header {
  background-color: #20484F;
  gap: 25px;
  top: 0;
  position: fixed;
  width: 100%;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .menu {
  display: none;
}
header .navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
header .navbar nav ul li a {
  color: #ffffff;
}
header .navbar .navbar-btn-2 {
  color: #ffffff;
  border-radius: unset;
  background: unset;
  border: unset;
}
@media only screen and (max-width: 767px) {
  header .navbar nav {
    display: none;
  }
  header .navbar .btn {
    display: none;
  }
  header .navbar .menu {
    color: #ffffff;
    display: block;
  }
}

footer {
  position: relative;
  z-index: -1;
  background-color: #072125;
  padding: 60px 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
footer .footer .left-footer {
  position: relative;
}
footer .footer .left-footer .checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .left-footer .checkbox .checkbox-1 {
  margin-right: 24px;
}
footer .footer .left-footer .footer-button {
  margin-top: 15px;
}
footer .footer .left-footer .footer-button .email-btn {
  background-color: #FFFFFF;
}
footer .footer .right-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 130px;
       column-gap: 130px;
}
footer .footer .right-footer h5 {
  color: #FFFFFF !important;
}
footer .footer .right-footer a {
  line-height: 24px;
  color: #DCF2ED;
}
@media only screen and (max-width: 767px) {
  footer .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer .right-footer {
    flex-direction: column;
    text-align: center;
  }
}

#hero-section .hero-section {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 109px;
       column-gap: 109px;
  justify-content: center;
}
#hero-section .hero-section .left .hero-text {
  margin-top: 15px;
}
#hero-section .hero-section .left .btn {
  margin-top: 30px;
}
#hero-section .hero-section .left .btn .hero-btn {
  background-color: #20484F;
  color: #FFFFFF;
  padding: 16px 36px 15px 36px;
  margin-right: 10px;
}
#hero-section .hero-section .left .btn .hero-btn-2 {
  border: 1px solid gray;
  background-color: unset;
  padding: 16px 45px 15px 45px;
}
#hero-section .hero-section .right {
  margin: 80px 60px;
}
@media only screen and (max-width: 767px) {
  #hero-section .hero-section {
    flex-direction: column-reverse;
  }
}

#team-section .title {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
#team-section .title p {
  margin-top: 10px;
  line-height: 20px;
}
#team-section .row .col h4 {
  color: #072125 !important;
  margin-bottom: 5px;
  line-height: 30px;
}
#team-section .row .col p {
  margin-bottom: 10px;
  color: #20484F;
}
#team-section .row i {
  font-size: 20px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 8px;
  font-weight: bold;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: #072125;
  margin-bottom: 62px;
}/*# sourceMappingURL=main.css.map */